<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sambudisp.made">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".mediaPlayer.MediaService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".mediaPlayer.MediaPlayerMainActivity" />
        <activity android:name=".Sound.SoundMainActivity" />
        <activity android:name=".Webview.WebviewMainActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name=".firebaseCloudMessaging.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".firebaseCloudMessaging.FirebaseCloudMessagingMainActivity" />
        <activity android:name=".pushNotifStack.PushNotifStackMainActivity" />

        <receiver
            android:name=".pushNotifCustom.NotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".pushNotifCustom.NotificationService"
            android:exported="false" />

        <activity android:name=".pushNotifCustom.ReplyActivity" />
        <activity android:name=".pushNotifCustom.PushNotifCustomActivity" />
        <activity android:name=".pushNotification.PushNotifActivity" />

        <receiver android:name=".widgetsStackView.ImagesBannerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/images_banner_widget_info" />
        </receiver>

        <activity android:name=".widgetsStackView.WidgetStackViewMainActivity" />

        <service
            android:name=".widgetsStackView.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".widgets.RadomNumberWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/radom_number_widget_info" />
        </receiver>

        <service
            android:name=".widgets.UpdateWidgetService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".widgets.MainWidgetActivity" />

        <service
            android:name=".preLoadDataQueryOptimization.service.DataManagerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".preLoadDataQueryOptimization.MahasiswaActivity" />
        <activity android:name=".preLoadDataQueryOptimization.MainPreLoadDataActivity" />
        <activity android:name=".sqliteNoteApp.NoteAddUpdateActivity" />
        <activity android:name=".sqliteNoteApp.MainNoteAppActivity" />
        <activity android:name=".sharedPreferenceSetting.SharedPreferenceSettingMainActivity" />
        <activity android:name=".sharedPreference.FormUserPreferenceActivity" />
        <activity android:name=".sharedPreference.SharedPreferenceMainActivity" />
        <activity android:name=".readWriteFile.ReadWriteFileMainActivity" />
        <activity android:name=".viewModel.ViewModelActivity" />
        <activity
            android:name=".navigationTaskAndBackstack.DetailNTBackstackActivity"
            android:parentActivityName=".navigationTaskAndBackstack.NavigationTaskBackstackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navigationTaskAndBackstack.NavigationTaskBackstackActivity" />
        </activity>
        <activity
            android:name=".navigationTaskAndBackstack.NavigationTaskBackstackActivity"
            android:launchMode="singleTop" />
        <activity android:name=".workManager.WorkManagerActivity" />
        <activity android:name=".jobScheduler.JobSchedulerActivity" />

        <service
            android:name=".jobScheduler.GetCurrentWeatherJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".alarmManager.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".alarmManager.MainAlarmManagerActivity" />

        <service
            android:name="com.DownloadService"
            android:exported="false" />

        <receiver
            android:name="com.SmsMyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcastReceiver.SmsReceiverActivity" />
        <activity android:name=".broadcastReceiver.BroadcastReceiverActivity" />

        <service
            android:name="com.MyBoundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.MyIntentService"
            android:exported="false" />
        <service
            android:name="com.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".service.ServiceActivity"
            android:theme="@style/SmsReceiverTheme" />
        <activity android:name=".backgroundThread.MainBgThreadActivity" />
        <activity android:name=".localization.Main5Activity" />
        <activity android:name=".tabLayout.Main4Activity" />
        <activity android:name=".appbarXnavdrawerXbotnav.MenuActivity" />
        <activity android:name=".appbarXnavdrawerXbotnav.Main3Activity" />
        <activity android:name=".navigation.ProfileActivity" />
        <activity android:name=".navigation.Main2Activity" />
        <activity android:name=".customView.CustomViewActivity" />
        <activity android:name=".ViewAndViews" />
        <activity android:name=".fragment.MainFragmentActivity" />
        <activity android:name=".intent.MoveForResultActivity" />
        <activity android:name=".intent.MoveWithObjectActivity" />
        <activity android:name=".intent.IntentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>